<style>
.cover {
  height: 150px;
/*  float: left; */
  padding-left: 5px;
}
</style>

<div id="book-list" class="mb-3"></div>

<script src="https://cdn.davecross.co.uk/js/books.js" data-tags-include="perl"></script>
