<p>
  <a href="http://www.amazon.co.uk/exec/obidos/ASIN/1930110006/davblog-21">
    <img title="Data Munging with Perl" src="/img/munging.jpg" alt="Data Munging with Perl" />
  </a>
  <a href="http://www.amazon.co.uk/exec/obidos/ASIN/0596004761/davblog-21">
    <img title="Perl Template Toolkit" src="/img/badger.jpg" alt="Perl Template Toolkit" />
  </a>
</p>
